
/* colors
#434851 dark grey text;
#14AAF5 blue button
#C9D0D4 grey button
#2CC6AB green bg
#AB5DE6 purple
#FF9B00 orange
#EC4A9D fuchsia
#A3D116 2nd green 
#15ff00 green check
#F6F8F9 bg ext. */

body{
    background-color: #F6F8F9;
    margin: 0px;
}



/*** HEADER ***/


#site_header {
    background-color: white;
    display:block;
}


.logo {
    height: 7rem;
    vertical-align: middle;
}

#logotext {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    margin-left:-15px;
    vertical-align: middle;
}

/*** MAIN  ***/

#site_main {
    background-color:white;
    margin: 3rem 20%;
    height: 800px;
    color:#434851;
}

#container_button{
background-color: white;
padding: 30px 100px 20px;

}


#b_blue{
    background-color:#14AAF5;
    border-radius: 7px;
    color: white;
    padding: 12px 28px;
    border: none;
}

#b_white{
    background-color:white;
    border-radius: 7px;
    color: #C9D0D4;
    padding: 11px 28px;
    border: 0.15rem solid #C9D0D4;
}

section {
    margin-left: 6rem;
}

#container_list{
margin-top: 1rem;
background-color: white;
font-family:'Roboto', sans-serif;
border-top: 2px solid #F6F8F9;

}


    
h2{
    display: inline-block;

    
}

.check{
    color:#15ff00;
    border-radius: 50%;
    border:0.15rem solid #15ff00;
    padding:1px 5px;
}

.cross{
    color:red;
    border-radius: 50%;
    border:0.15rem solid red;
    padding:1px 5px;
}

h4{
    display: inline-block;
    margin-top: 0;
}

.secondary_button{
    background-color:#14AAF5;
    border-radius: 10px;
    color: white;
    padding: 6px 10px;
    border: none;
    
}

#purple {
    background-color:#AB5DE6;
}

#green {
    background-color: #2CC6AB;
}

#orange {
    background-color: #FF9B00;
}

#fuchsia {
    background-color: #EC4A9D;
}

#secondgreen {

    background-color: #A3D116;
}



